<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
  <script src="/reconnecting-websocket.min.js"></script>
  <script src="/buffer-loader.js"></script>
  <script src="/app.js"></script>

  <title>saikoh.tk</title>
</head>
<body>
  <table id="buttons">
  </table>
</body>
</html>
